@mixin flex($direction) {
	display: flex;
	flex-direction: $direction;
}

.cafes {
	@include flex(row);
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 4rem;
	min-height: 100vh;

	& h1 {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	& h1::after {
		content: "";
		width: 100%;
		height: 5px;
		background: rgb(0, 255, 0);
		position: absolute;
		left: 0%;
		bottom: 0%;
	}

	& .cafe {
		@include flex(column);
		gap: 0.5rem;
		width: 16rem;
		height: 8rem;
		padding: 1rem;
		box-shadow: 1px 1px 6px 1px rgba(0, 255, 0, 0.5);
	}
}
